__pycache__/
ajax/__pycache__/
bruteforce/__pycache__/
chat/__pycache__/
luma/__pycache__/
mail/__pycache__/
pyautogui/__pycache__/
req/__pycache__/
ricky/__pycache__/
scanners/__pycache__/
udp/__pycache__/
virus/__pycache__/
mobile app/
!mobile app/digital_cal/lib/main.dart
*.png
*.txt
test.*
req.html