<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/admin.css">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>socket</title>
</head>
<body>
<main>
  <div id="console">
    <header>
        <p>administrator@commandline</p>
    </header>
    <div id="consolebody">
      <p>> type help to see a list of commands</p>
      <p id="cmd1">><input id="nextcmd" class="commandline" autocomplete="off"></p>
    </div>
  </div>
</main>
<script src="static/admin.js"></script>
</body>
</html>
